# {{title}}

 * Author [{{author}}](mailto:{{authorEmail}})
 * Last generated at {{now}}.

{{#milestones}}
## Version [{{title}}]({{milestoneUrl}}/{{id}})
{{#description}}
{{description}}
{{/description}}
{{#dueDate}}

**Closed at {{dueDate}}.**
{{/dueDate}}

{{#withArtifact}}
### Download
{{#artifacts}}
* [{{name}} ({{filename}})]({{url}})
{{/artifacts}}
{{/withArtifact}}

### Issues
{{#withIssue}}
{{#issues}}
  * [[{{tracker}} {{id}}]]({{issueUrl}}/{{id}}) **{{title}}** (Thanks to {{assignee.name}}) (Reported by {{author.name}})
{{/issues}}
{{/withIssue}}
{{#withNoIssue}}
No issue.
{{/withNoIssue}}

{{/milestones}}
