<document xmlns="http://maven.apache.org/changes/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/changes/1.0.0 http://maven.apache.org/xsd/changes-1.0.0.xsd">
    <properties>
        <title>{{title}}</title>
        <author email="{{authorEmail}}">{{author}}</author>
    </properties>
    <body>
    {{#milestones}}
        <release version="{{title}}" date="{{dueDate}}" description="{{description}}">
            {{#issues}}
                <action dev="{{assignee.name}}" type="{{issueType}}" issue="{{id}}">
                    {{title}}
                    <dueto name="{{author.name}}"/>
                </action>
            {{/issues}}
        </release>
    {{/milestones}}
    </body>
</document>