
# Milestone %{{milestoneModel.id}}

## Issues

{{#issues}}
 * {{tracker}} #{{id}} [*{{humanTimeEstimate}}*] **{{title}}**
{{/issues}}

## Total

{{#totalTimeByTrackers}}
 * {{key}}  [*{{value.humanTimeEstimate}}*]
{{/totalTimeByTrackers}}
